<script setup>
import InitialGalery from '../components/InitialGalery.vue'
import BottomGalery from '../components/BottomGalery.vue'
</script>

<template>
  <main>
    <InitialGalery />
    <BottomGalery />
  </main>
</template>
