<script>
import ImageWithTitle from './ImageWithTitle.vue';
import ScrollTrigger from 'gsap/ScrollTrigger';
import gsap from 'gsap';

export default {
    mounted() {
        gsap.registerPlugin(ScrollTrigger);

        const timeline = gsap.timeline({
            scrollTrigger: {
                trigger: this.$refs.galery,
                markers: true,
                start: "top bottom",
                end: "bottom bottom",
                scrub: 1, // smooth scrubbing, takes 1 second to "catch up" to the scrollbar
            }
        });
        timeline.to(this.$refs.galery.querySelectorAll('.galery-image'), { y: "-10%", stagger: 0.2});
    },
    components: { ImageWithTitle }
}
</script>
<template>
  <article ref="galery" class="galery">
    <div class="galery-wrapper">
      <div class="galery-image">
        <ImageWithTitle title="First one" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpool.theinfosphere.org%2Fimages%2Fb%2Fb2%2FFuturama_Comic_49.jpg&f=1&nofb=1&ipt=491510761d4d5e69a36a562eb37dedc633f991371bd58a52f2bbba958c5ef3c9&ipo=images" alt="futurama1" />
      </div>
      <div class="galery-image">
        <ImageWithTitle title="Second one" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.3V8guZ-BlkJHklYPit2FxwHaJ_%26pid%3DApi&f=1&ipt=f2da0759e652e6ce464724fcc14547eef77d8295cd47583e298ae346c00dafce&ipo=images" alt="futurama1" />
      </div>
      <div class="galery-image">
        <ImageWithTitle title="Third one" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.HbJIB8q08sp1pkUEH4zijwHaK5%26pid%3DApi&f=1&ipt=0d1b10b2aa24723ffa35ce605b2a5b023fc7d758a2363d65f4438b38da973da3&ipo=images" alt="futurama1" />
      </div>
      <div class="galery-image">
        <ImageWithTitle title="Fourth one" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.explicit.bing.net%2Fth%3Fid%3DOIP.QtFuVRtJSwAmcOgAUzregAHaLY%26pid%3DApi&f=1&ipt=f2134ebea27bd054e46b3d908ee109338c8d043495ae145965d7325f12ca3992&ipo=images" alt="futurama1" />
      </div>
      <div class="galery-image">
        <ImageWithTitle title="Fifth one" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.new-video.de%2Fco%2Ffuturam3.jpg&f=1&nofb=1&ipt=29fa6eebb5f29373d05736c6ef95038f8a6587c9bdc6558fc371ebfbd97e718f&ipo=images" alt="futurama1" />
      </div>
    </div>
  </article>
</template>

<style>

.galery {
  width: 100%;
  position: relative;
}

.galery-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-evenly;
}

.galery-image {
  position: sticky;
  top: 0;
  width: calc(20% - 1.5em);
}

</style>
