<script>
export default {
  props: ['src', 'alt', 'title'],
  mounted() {
  }
}
</script>

<template>
<article ref="image" class="image-with-title-container">
  <div class="image-with-title">
    <img :src="src" :alt="alt" />
    <h1 class="image-with-title-title">{{ title }}</h1>
  </div>
</article>
</template>

<style scoped>
.image-with-title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-with-title {
  position: relative;
  height: 100%;
}

.image-with-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-with-title-title {
  position: absolute;
  bottom: 0;
  left: -0.5em;
  transform-origin: left;
  transform: rotateZ(-90deg);
  margin: 0;
}
</style>
