<script>
import gsap from 'gsap';
import ScrollTrigger from 'gsap/ScrollTrigger';
import ImageWithTitle from './ImageWithTitle.vue';

export default {
    mounted() {
        gsap.registerPlugin(ScrollTrigger);
        const timeline = gsap.timeline({
            scrollTrigger: {
                trigger: this.$refs.image,
                start: "top top",
                end: "bottom center",
                scrub: 1, // smooth scrubbing, takes 1 second to "catch up" to the scrollbar
            }
        });
        timeline.to(this.$refs.image.querySelector('.image-with-title-title'), { y: "100%" });
    },
    components: { ImageWithTitle }
}
</script>

<template>
  <div class="image-container" ref="image">
    <div class="image">
      <ImageWithTitle src="https://wallpapercave.com/wp/XWgQhl3.jpg" alt="Futurama cover" title="Futurama cover" />
    </div>
  </div>
</template>

<style>
.image-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  position: relative;
}
</style>
